<div class="home-container">
  <h1>Welcome to lisana {{name}} </h1>
  <h2>Where you can see what you hear</h2>
  <section class="categories-container">
    <div class="category">
      <h2>Listening Stats</h2>
    </div>
    <div class="category">
      <h2>Mood Analysis</h2>
    </div>
    <div class="category">
      <h2>Personal Charts</h2>
    </div>
    <div class="category">
      <h2>Anual Variation</h2>
    </div>
  </section>
</div>
